/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
$main-color: #fd721d;
$text-color: white;
$body-color: #121312;
.wp-block-create-block-truesteel-product-block {
	color: #fff;
	padding: 2px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.wp-block-create-block-truesteel-product-block ul {
	list-style-type: disc;
	padding-left: 20px;
	background: $body-color;
	margin-top: 0;
}

.wp-block-create-block-truesteel-product-block li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.wp-block-create-block-truesteel-product-block .item-text {
	color: $main-color;
	font-weight: 700;
}

.wp-block-create-block-truesteel-product-block .item-description {
	color: $text-color;
	font-weight: 400;
}
.wp-block-create-block-truesteel-product-block .input-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wp-block-create-block-truesteel-product-block .btn2 {
	margin-left: 10px;
	padding: 5px 10px;
	width: 150px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background-color: $main-color;
	color: $text-color;
}
.wp-block-create-block-truesteel-product-block .btn1 {
	margin-left: 10px;
	padding: 5px 10px;
	width: 120px;
	height: 30px;
	margin-right: 10px;
	margin-left: 10px;
	border: 0;
	border-radius: 10px;
	background-color: rgb(219, 21, 90);
	color: white;
}

.wp-block-create-block-truesteel-product-block input[type="text"] {
	width: 90%;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.wp-block-create-block-truesteel-product-block textarea {
	width: 90%;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.wp-block-create-block-truesteel-product-block h5 {
	margin-bottom: 20px;
	color: $text-color !important;
	background-color: $main-color;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	margin-bottom: 0;
	font-weight: 500;
}
